:root {
  --text-color: #212121;
  --hover-color: #2196F3;
  --alter-text: #757575;
  --bg-color: #fff;
  --bgbody-color: rgb(230, 230, 230);
  --inner-screen: #2F303A;
  --team-bg: #F5F4FA;
  --logo-color: #000;
  --body-white: #fff;
  --svg-color: #AFB1B8;
  --soc-bg: rgba(255, 255, 255, .1);
  --gradient-color: rgba(47, 48, 58, .4);
  --card-shadow: rgba(0, 0, 0, .2);
  --anima-bg-color:rgba(47, 48, 58, .8);
  --overlay-bg-color:rgba(33, 150, 243, .9);
  --input-color:rgba(255,255,255, .6);
  --placeholder-color:rgba(117,117,117,.5);
  --border-input:rgba(33,33,33,.2);
}

* {
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

a:focus {
  color: var(--hover-color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-white);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.current__page {
  position: relative;
}

.current__page::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
  margin-top: 29px;
}

.product__link {
  text-decoration: none;
  display: block;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: color;
}

.header {
  position: relative;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--bgbody-color);
}

@media screen and (min-width: 320px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__div {
  display: flex;
}

/*MAIN PAGE BUTTONS*/
/*Modal block buttons*/
.openModal__button {
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 32px;
  color: var(--bg-color);
  background-color: var(--hover-color);
  border-radius: 5px;
  border-color: transparent;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: box-shadow;
}

.openModal__button:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px var(--logo-color);
}

.openModal__button:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px var(--logo-color);
}

.closeModal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--card-shadow);
  background-color: var(--body-white);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: fill;
}

.closeModal__button .closeModal__icon {
  width: 18px;
  height: 18px;
}

.closeModal__button:hover, .closeModal__button:focus {
  cursor: pointer;
  fill: var(--hover-color);
}

.sendModal__button {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: .06em;
  font-weight: bold;
  color: var(--body-white);
  background-color: var(--overlay-bg-color);
  box-shadow: 0 4px 4px var(--card-shadow);
  border: none;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.sendModal__button:hover {
  cursor: pointer;
}

/*Footer button*/
.spamSubmit__button {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: .06em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  color: var(--body-white);
  background-color: var(--hover-color);
  box-shadow: 0 4px 4px var(--card-shadow);
}

@media screen and (min-width: 320px) {
  .spamSubmit__button {
    margin: 20px auto;
  }
}

@media screen and (min-width: 1200px) {
  .spamSubmit__button {
    margin: 0;
    margin-left: 12px;
  }
}

.spamSubmit__button .spam__icon {
  margin-left: 4px;
}

.spamSubmit__button:hover {
  cursor: pointer;
}

/*PORTFOLIO_PAGE BUTTONS*/
/*filterButton*/
.filterButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: .03em;
  background-color: var(--team-bg);
  color: var(--text-color);
  padding: 6px 22px;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: background-color, color, box-shadow;
}

.filterButton:hover {
  color: var(--bg-color);
  cursor: pointer;
  background-color: var(--hover-color);
  box-shadow: 1px 3px 3px var(--text-color);
}

.filterButton:focus {
  color: var(--bg-color);
  cursor: pointer;
  background-color: var(--hover-color);
  box-shadow: 1px 3px 3px var(--text-color);
}

/*Menu btn*/
.openMenu__button {
  display: block;
  position: absolute;
  z-index: 45;
  top: 23px;
  right: 30px;
  border: none;
  background-color: var(--body-white);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: fill;
}

.openMenu__button:hover, .openMenu__button:focus {
  fill: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .openMenu__button {
    display: none;
  }
}

.openMenu__button .closeMenu {
  display: none;
}

.openMenu__button .closeMenu {
  display: none;
}

.openMenu__button.is-open .closeMenu {
  display: block;
}

.openMenu__button.is-open .openMenu {
  display: none;
}

/*TEAMBLOCK*/
.socialIcon__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.socialIcon__list .socialIcon__item + .socialIcon__item {
  margin-left: 10px;
}

.socialIcon__list .socialIcon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: background-color;
}

.socialIcon__list .socialIcon__link:hover, .socialIcon__list .socialIcon__link:focus {
  background-color: var(--hover-color);
}

/*FOOTER bLOCK*/
.socialIcon__link {
  border-radius: 50%;
  background-color: var(--soc-bg);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: background-color;
}

.socialIcon__icon {
  width: 20px;
  height: 20px;
  fill: var(--svg-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: fill;
}

.socialIcon__link:hover .socialIcon__icon,
.socialIcon__link:focus .socialIcon__icon {
  fill: var(--body-white);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--body-white);
}

@media screen and (min-width: 320px) {
  .customer__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .customer__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .customer__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.customer__item {
  margin-right: 30px;
}

.customer__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 320px) {
  .customer__item {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  .customer__item:nth-child(2n) {
    margin-right: 0;
  }
  .customer__item:nth-last-child(n+4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .customer__item {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
  .customer__item:nth-child(3) {
    margin-right: 0;
    margin-left: 30px;
  }
  .customer__item:nth-child(4) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customer__item {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
  .customer__item:nth-last-child(n+4) {
    margin-bottom: 0;
  }
  .customer__item:nth-child(3) {
    margin: 0 30px;
  }
}

.customer__item + .customer__item {
  background-color: var(--team-bg);
}

.customer__link {
  height: 90px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  background-color: var(--team-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: border-color;
}

.customer__link:hover, .customer__link:focus {
  border-color: var(--hover-color);
}

.customer__icon {
  fill: var(--svg-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: fill;
}

.customer__link:hover .customer__icon,
.customer__link:focus .customer__icon {
  fill: var(--hover-color);
}

.contact__icon {
  margin-right: 10px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: fill;
}

.contact__icon:hover, .contact__icon:focus {
  fill: var(--hover-color);
}

.contact__list {
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

@media screen and (min-width: 0) {
  .contact__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:last-child {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:last-child {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contacts__link {
  color: var(--alter-text);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: color;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}

.skill__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 3200px) {
  .skill__item {
    flex-basis: calc(100%);
  }
}

@media screen and (min-width: 768px) {
  .skill__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .skill__item {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 320px) {
  .skill__item + .skill__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .skill__item + .skill__item {
    margin-top: 0;
  }
  .skill__item + .skill__item:nth-child(2n) {
    margin-left: 30px;
  }
  .skill__item + .skill__item:nth-child(n+3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .skill__item + .skill__item {
    margin-left: 30px;
  }
  .skill__item + .skill__item:nth-child(n+3) {
    margin-top: 0;
  }
}

.skillSvg__block {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-bg);
  margin-bottom: 30px;
  border-radius: 4px;
}

.skillSvg__block .skill__icon {
  width: 70px;
  height: 70px;
  fill: var(--text-color);
}

/*Header logo*/
.headerSpan__logo {
  color: var(--hover-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.header__logo {
  width: 145px;
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  letter-spacing: .03em;
}

@media screen and (min-width: 0) {
  .nav {
    display: none;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
  }
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .02em;
  color: var(--text-color);
  text-decoration: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: color;
}

.nav__link:hover {
  color: var(--hover-color);
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.current__page {
  color: var(--hover-color);
}

.inner__screen-title {
  margin: 0 auto 30px;
  padding: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .06em;
  color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .inner__screen-title {
    width: 360px;
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 1200px) {
  .inner__screen-title {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.skill__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: .03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.team__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: .01em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
  text-align: center;
}

.form__title {
  margin-bottom: 12px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: .01em;
  font-weight: bold;
  color: var(--text-color);
}

.footerSocial__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--body-white);
}

@media screen and (min-width: 320px) {
  .footerSocial__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footerSocial__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footerSocial__title {
    text-align: left;
  }
}

.spam__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--body-white);
}

@media screen and (min-width: 320px) {
  .spam__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .spam__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .spam__title {
    text-align: left;
  }
}

.inner__screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  max-width: 1600px;
  margin: auto;
  background-color: var(--inner-screen);
}

@media screen and (min-width: 320px) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-480.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-960.jpg");
  }
}

@media screen and (min-width: 480px) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-768.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-1536.jpg");
  }
}

@media screen and (min-width: 768px) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-1536.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-1600.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-1600.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 196px;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .inner__screen {
    background-image: linear-gradient(to left, var(--gradient-color) 40%, var(--gradient-color) 100%), url(".././images/hero-3200.jpg");
  }
}

.footer__logo {
  color: var(--bg-color);
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  line-height: 31px;
  font-weight: 700;
  letter-spacing: .03em;
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .footer__logo {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__logo {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.footerSpan__logo {
  color: var(--hover-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.footerCover {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
  .footerCover {
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footerCover {
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
  }
}

.footer {
  background-color: var(--inner-screen);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footerSocial__section {
  margin: 0;
}

@media screen and (min-width: 320px) {
  .footerSocial__section {
    margin-top: 60px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footerSocial__section {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footerSocial__section {
    margin-left: 70px;
    margin-top: 0;
  }
}

@media screen and (min-width: 320px) {
  .spam__section {
    justify-content: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .spam__section {
    justify-content: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .spam__section {
    margin-left: 93px;
    margin-top: 0;
  }
}

@media screen and (min-width: 320px) {
  .spam__form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .spam__form {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .spam__form {
    display: flex;
    flex-direction: row;
  }
}

.spam__input {
  width: 100%;
  text-indent: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--input-color);
  box-sizing: border-box;
  filter: drop-shadow(0 4px 4px var(--card-shadow));
  border-radius: 4px;
  background-color: var(--inner-screen);
  color: var(--input-color);
}

@media screen and (min-width: 768px) {
  .spam__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .spam__input {
    width: 358px;
  }
}

.footerContact__list {
  margin-top: 9px;
}

@media screen and (min-width: 320px) {
  .footerContact__list {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footerContact__list {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footerContact__list {
    text-align: left;
  }
}

.footerContact__item {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .03em;
}

.footerContact__item:first-child {
  margin-bottom: 9px;
}

.footer__feedback {
  margin-top: 20px;
}

.address {
  font-style: unset;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  letter-spacing: .03em;
  text-align: center;
  color: var(--bg-color);
}

.footerContact__link {
  color: var(--bgbody-color);
  text-decoration: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: color;
}

.footerContact__link:hover, .footerContact__link:focus {
  color: var(--hover-color);
}

/*MODAL WINDOW BLOCK*/
.backdrop {
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--card-shadow);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: opacity;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__block {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 320px;
  padding: 40px;
  overflow-y: scroll;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--body-white);
}

@media screen and (max-width: 479px) {
  .modal__block {
    padding: 30px;
    width: 94%;
    height: auto;
  }
}

@media screen and (min-width: 480px) {
  .modal__block {
    padding: 40px;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal__block {
    width: 540px;
  }
}

/*Form Block*/
.form__modal {
  margin-left: auto;
  margin-right: auto;
}

.form__input, .area {
  width: 100%;
}

.form__field + .form__field {
  margin-top: 10px;
}

.checkbox__block {
  margin-top: 20px;
}

.formInput__label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .01em;
  color: var(--alter-text);
}

.area {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .03em;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  line-height: 16px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .area {
    height: 70px;
  }
}

@media screen and (min-width: 480px) {
  .area {
    height: 120px;
  }
}

.area:focus {
  outline-color: var(--hover-color);
  border-color: var(--hover-color);
}

.area::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .01em;
  color: var(--placeholder-color);
}

.form__input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
}

.form__input:focus {
  outline-color: var(--hover-color);
  border-color: var(--hover-color);
}

.formInput__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--text-color);
}

.formInput__label:focus-within .formInput__icon {
  fill: var(--hover-color);
}

.check__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.pact__link {
  text-decoration: underline;
  color: var(--hover-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .01em;
}

.check__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--text-color);
  border-radius: 2px;
}

.acces__text {
  font-size: 12px;
  line-height: 14px;
  color: var(--text-color);
}

@media screen and (min-width: 480px) {
  .acces__text {
    display: inline-flex;
  }
}

.check__input {
  appearance: none;
}

.check__input:focus + .check__icon {
  outline: 2px solid var(--hover-color);
}

.check__input:checked + .check__icon {
  background-color: var(--hover-color);
  background-image: url("../images/checkicon.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--hover-color);
}

/*SKILLS block*/
@media screen and (min-width: 320px) {
  .skill__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .skill__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .skill__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.skill__section .skill__paragraph {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .03em;
  color: var(--alter-text);
}

@media screen and (min-width: 110px) {
  .skillPhotos__section {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .skillPhotos__section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .skillPhotos__section {
    display: block;
    padding-bottom: 94px;
  }
}

/*Skill photo-section*/
.skillPhotos__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.skill__photo {
  width: 370px;
}

.skillPhotos__block {
  position: relative;
}

.skillPhotos__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: var(--anima-bg-color);
}

.skillPhotos__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--body-white);
}

.skillPhotos__item + .skillPhotos__item {
  margin-left: 30px;
}

.team__section {
  background-color: var(--team-bg);
}

@media screen and (min-width: 320px) {
  .team__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .team__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.team__photo {
  display: block;
  width: 100%;
  height: auto;
}

.description {
  padding: 30px 15px;
}

.team__item {
  box-shadow: 0 2px 1px var(--card-shadow);
  background-color: var(--bg-color);
  border-radius: 4px;
  width: 100%;
}

.team__item + .team__item {
  margin-left: 30px;
}

@media screen and (min-width: 320px) {
  .team__item:nth-child(n+2) {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  .team__item:nth-child(n+2) {
    margin-left: 0;
    margin-top: 0;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
    margin-left: 30px;
  }
  .team__item:nth-child(n+3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .team__item:nth-child(n+3) {
    margin-top: 0;
  }
  .team__item:nth-child(2) {
    margin-right: 30px;
  }
}

.team__paragraph {
  color: var(--alter-text);
  text-align: center;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 7;
  margin: 0;
  background-color: var(--body-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .mobile-menu {
    padding-left: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__button {
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-white);
  border: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: fill;
}

.mobile-menu__button:hover {
  cursor: pointer;
}

.mobile-menu__button:hover .mobile-menu__closeBtn,
.mobile-menu__button:focus .mobile-menu__closeBtn {
  fill: var(--hover-color);
}

.mobile-menu__navList {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu__navItem + .mobile-menu__navItem {
  margin-top: 32px;
}

.mobile-menu__navLink {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .25s;
  transition-property: color;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: .02em;
  font-weight: 500;
}

.mobile-menu__navLink:hover, .mobile-menu__navLink:focus {
  color: var(--hover-color);
}

.mobile-menu__socialItem + .mobile-menu__socialItem {
  margin-left: 10px;
  border-left: 2px solid var(--alter-text);
  padding-left: 10px;
}

.mobile-menu__socialList {
  margin-top: 60px;
}

.mobile-menu__socialLink {
  letter-spacing: .01em;
  color: var(--hover-color);
  font-weight: 500;
}

@media screen and (min-width: 320px) {
  .mobile-menu__socialLink {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu__socialLink {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__socialLink {
    display: none;
  }
}

.mobile-menu__socialList {
  display: flex;
}

.mobile-menu__socialItem + .mobile-menu__socialItem {
  margin-left: 10px;
}

.mobile-menu__tel {
  color: var(--hover-color);
  font-weight: 500;
}

@media screen and (min-width: 320px) {
  .mobile-menu__tel {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: .01em;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu__tel {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: .02em;
  }
}

.mobile-menu__post {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: .02em;
  font-weight: 500;
  color: var(--alter-text);
}

.mobile-menu.is-open {
  display: none;
}
/*# sourceMappingURL=style.css.map */